/* CandidatureComponent.css */

body {
  background-image: url("https://pbs.twimg.com/media/GJeFWtjWEAA1l40?format=jpg&name=medium");
  background-size: cover;
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les marges par défaut */
  height: 100vh; /* Définit la hauteur de la page comme 100% de la fenêtre visible */
  display: flex; /* Utilise Flexbox pour centrer le contenu */
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center; /* Centre verticalement le contenu */
}

.candidature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: black; /* Couleur du texte en noir */
}

.input-container {
  margin-bottom: 60px;
  text-align: center;
}

.error-message {
  color: #dc3545;
  font-weight: bold;
}

.success-message {
  color: #28a745;
  font-weight: bold;
}
